@font-face {
font-family: 'LightExtended';
src: url('assets/fonts/HelveticaNeueLTStd-LtEx.woff2') format('woff2'),
url('assets/fonts/HelveticaNeueLTStd-LtEx.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
 font-family: 'ThinExtended';
src: url('assets/fonts/HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
url('assets/fonts/HelveticaNeueLTStd-ThEx.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'StandardExtended';
src: url('assets/fonts/HelveticaNeueLTStd-Ex.woff2') format('woff2'),
url('assets/fonts/HelveticaNeueLTStd-Ex.woff') format('woff');
font-weight: normal;
font-style: normal;
}
body{
background-color: #04090a;
color: #fff;
font-size:16px;
margin: 0;
padding: 0;
height: 100%;
}
a{
text-decoration: none;
}
h1{
font-family: 'LightExtended', Arial, Helvetica, sans-serif;
font-weight: normal;
font-style: normal;
font-size:76px;
line-height:114px;
}
h2{
font-family: 'ThinExtended', Arial, Helvetica, sans-serif;
font-weight: normal;
font-style: normal;
font-size:32px;
line-height:52.8px;
}
figcaption{
display:none;
}
#button{
display: inline-block;
padding: 20px 90px;
font-family: 'StandardExtended', Arial, Helvetica, sans-serif;
font-weight: normal;
font-style: normal;
font-size:18px;
border: 1px solid #fff;
color: #fff;
cursor:pointer;
margin: 0 25px;
}
#button:hover{
border:none;
background-color: #292E2F;
}
#main{
min-height:100vh;
}
#main-container{
display: flex;
flex-wrap: wrap;
margin-top:18%;
z-index:2;
}
#title{
flex: 100%;
}
#subquote{
flex: 100%;
padding-left:5%;
margin-top:10px;
}
#button-group{
flex: 100%;
margin-left:8%;
margin-top:35px;
}
#image{
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
max-width:100%;
display:block;
height:auto;
z-index: -1;
top: 135px;
}
#horizontal-pattern{
position:absolute;
background-image: url(/assets/images/horizontal-pattern.png);
background-repeat: repeat-x;
top: 135px;
margin-left:15%;
}
#life{
margin-top:3%;
display:flex;
align-items: center;
justify-content: center;
}
#life img{
max-width:100%
}
#right-quote,#left-quote{
padding: 0 90px;
text-align: justify;
text-justify: newspaper;
}
#left-image{
flex-basis:50%;
padding-left:45px;
}
/* Larger desktop sizes */
@media (max-width: 1439.99px) { 
#main-container{
margin-top:22%;
}
#image{
top: 80px; 
} 
#horizontal-pattern{
top: 80px;
margin-left: 12%;
}
}
/* Smaller desktop sizes */
@media (max-width: 1279.99px) { 
#main-container{
margin-top:24%;
}
#image{
top: 70px; 
} 
#horizontal-pattern{
top: 70px;
margin-left: 10%;
}
}
@media (max-width: 1024.99px) { 
#main-container{
margin-top:28%;
}
#image{
top: 70px; 
} 
#horizontal-pattern{
top: 70px;
margin-left: 8%;
}
#button{
margin: 0 15px;
}
#subquote{
padding-left: 1%;
}
#button-group {
margin-left:0;
}
}
/* Tablet screen sizes */
@media (max-width: 767.99px) {
h2{
font-size: 30px;
}
#horizontal-pattern {
margin-left: 5%;
}
#button {
margin: 0 12px;
padding: 20px 60px;
font-size: 16px;
}
#main-container {
 margin-top: 38%;
}
}
/* Larger mobile sizes */
@media (max-width: 424.99px){
body{
margin: 0 15px !important;
}
h1{
font-size: 37px;
line-height: 55.5px;
}
h2{
font-size: 24px;
line-height: 39.6px;
}
#main-container{
margin-top: 65%;
}
#image{
top: 25px; 
}
#horizontal-pattern {
top: 25px;
background-size: 70%;
}
#button-group{
margin-top: 10px;
}
#button {
margin: 9px 0;
padding: 20px 90px;
}
#subquote{
margin-top: 5px;
}
}
/* Smaller mobile sizes */
@media (max-width: 319.99px){
h1 {
font-size: 32px;
line-height: 48px;
}
h2 {
font-size: 21px;
line-height: 34.65px;
}
#button {
padding: 20px 70px;
}
}